#HOST and PORT for the FastAPI application
HOST=localhost
PORT=8000

# GitHub OAuth Credentials (from GitHub Developer Settings)
GITHUB_CLIENT_ID=<YOUR_GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<YOUR_GITHUB_CLIENT_SECRET>
GITHUB_REDIRECT_URI=http://localhost:8000/callback

# GitHub API
GITHUB_API_BASE_URL=<GITHUB_API_BASE_URL> # usually, https://api.github.com

# Security Keys
JWT_SECRET=<YOUR_JWT_SECRET_KEY>
ALGORITHM=<YOUR_JWT_ALGORITHM>